body
{
  background-image: url("image/background_wood_grey.jpg");
  background-repeat: no-repeat;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#inGrid
{
  display: grid;
  grid-template-areas: "p d i s"
                       "f f f f";
  width: 90%;
  min-width: 720px;
  margin: auto;
  margin-top: 200px;
  border-radius:10px;
}

h1
{
  font-size: 2em;
}

h2
{
  font-size: 1em;
}

span
{
  font-weight:bold;
}

section
{
  padding:10px;
}

.photo
{
  grid-area:p;
  background-color: red;
}

.description
{
  grid-area:d;
  background-color: yellow;
}

.infos
{
  grid-area:i;
  background-color: green;
}

.adresse
{
  margin-top:-18px;
}

.social
{
  grid-area:s;
  background-color: purple;
}

.social img
{
  width: 50px;
}

.social a
{
  display: block;
}

footer
{
  grid-area:f;
  background-color: blue;
  width: 100%;
  margin:auto;
}

footer img
{
  width: 50px;
}

footer a
{
  display: inline-block;
  margin : auto;
  padding-left: 50px;
}

.icone_footer
{
  background-color: #fff;
  width: 90%;
  margin:auto;
}
